h2, .h2 {
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
}

h3, .h3 {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
}

h4, .h4 {
  display: block;
  margin-top: 10px;
}

h1.api-title {
  margin-top: 60px;
  margin-bottom: 20px;
}

h1.api-title small {
  font-size: 24px;
  color: #ccc;
}

a.h2:hover, a.h2:focus {
  text-decoration: none;
}

a.h2.docs-title {
  font-weight: 300;
  margin-top: 140px;
}

a.h2.docs-title:after {
  content: '';
  background: #f7f7f7;
  height: 2px;
  display: block;
  margin-top: 20px;
}

a.back-to-home {
  display: inline-block;
  margin: 20px 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .2s linear;
}

a.back-to-home:before {
  content: "\00ab";
  display: inline-block;
  padding-right: 5px;
  transition: padding-right .2s linear;
}

a.back-to-home:hover {
  background: #f7f7f7;
}

a.back-to-home:hover:before {
  padding-right: 10px;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

hr {
  margin-top: 0;
  margin-bottom: 3rem;
  border: 0;
  border-top: none;
}

.anchor {
  position: relative;
  left: -20px;
}

.anchor > img {
  opacity: 0.1;
}

.anchor:hover > img {
  opacity: 1;
}
