{% extends "doc.layout.html" %}

{% block content %}

{% macro typeList(types) -%}
{% set separator = joiner("|") %}
{% for type in types %}{{ separator() }}{{ type | code }}{% endfor %}
{%- endmacro -%}

{%- for export in doc.moduleDoc.exports %}

<h1 class="display-4 api-title">
  {{export.name}}
  <small>({{export.docType}})</small>
</h1>
{{export.description | marked}}

{% if export.usage %}

<a href="#usage" class="h2 docs-title" id="usage">
  <img src="https://zyramedia.github.io/ng2-facebook-sdk/link.svg" alt="link">
  Usage
</a>
{{ doc.usage | marked}}

{% endif %}

{%- if export.inputs %}
<a id="inputs" href="#inputs" class="h2 docs-title">Inputs</a>

{%- for input in export.inputs %}
<a id="{{ input.name }}" href="#{{input.name}}" class="h4">{{ input.name }}</a>
({{ input.returnType }}) {{ input.description | marked }}
{% endfor -%}

{% endif -%}


{%- if export.outputs %}
<a id="outputs" href="#outputs" class="h2 docs-title">Outputs</a>

{%- for output in export.outputs %}
<a id="{{ output.name }}" href="#{{output.name}}" class="h4">{{ output.name }}</a>
{{ output.description | marked }}
{% endfor -%}

{% endif -%}

{%- if export.members %}
<a id="instance-methods" href="#instance-methods" class="h2 docs-title">Instance Methods</a>
{% endif -%}
{%- for member in export.members %}
<a id="{{ member.name }}" href="#{{member.name}}" class="h4">{{ member.name }}</a>
{{ member.description | marked }}
{% if member.params %}
<table class="table table-striped table-bordered rounded">
  <thead>
  <tr>
    <th>Param</th>
    <th>Type</th>
    <th>Details</th>
    <th>Default</th>
  </tr>
  </thead>
  <tbody>
  {% for param in member.params %}
  <tr>
    <td>
      {{param.name}}
      {% if param.optional %}<em>(optional)</em>{% endif -%}
    </td>
    <td>
      <code>{{ param.typeList | escape }}</code>
    </td>
    <td>
      {{ param.description }}
    </td>
    <td>
      {%- if param.defaultValue %}
      <code>{{ param.defaultValue | escape }}</code>
      {% endif -%}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif -%}

{% if member.usage %}
Example usage of <code>{{ member.name }}</code>:
<br>
<br>
{{ member.usage | marked }}
{% endif %}
<hr>
{% endfor -%}

{% endfor -%}

{% endblock %}
