{% extends "main.layout.html" %}

{%- block body -%}
<div style="max-width: 600px; float: none; margin: 30px auto;">

  <h1 class="display-4">Angular 2 Facebook SDK</h1>
  <p class="lead">
    This is a wrapper for the official Facebook JavaScript SDK. You must still include their JavaScript files in your project. This wrapper makes it easier to use Facebook SDK with Angular2 by providing types and promises.
  </p>

  <a class="h2" id="installation" href="#installation">
    <img src="https://zyramedia.github.io/ng2-facebook-sdk/link.svg" alt="link">
    Installation
  </a>
  <a class="h4" id="install-via-npm" href="#install-via-npm">
    <img src="https://zyramedia.github.io/ng2-facebook-sdk/link.svg" alt="link">
    Install via NPM
  </a>
  <pre>
  <code>
    npm i --save ng2-facebook-sdk
  </code>
  </pre>

  <h4>Add the Facebook JavaScript SDK to your <code>index.html</code></h4>
  <pre>
  <code>
    {{ '<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>' | escape}}
  </code>
  </pre>

  <h2>Important Notice</h2>
  <p>This documentation is for the upcoming v2 of this module. To see the documentation for the current stable version, please <a href="https://github.com/zyramedia/ng2-facebook-sdk">visit our Github repository</a>.</p>

  <a class="h2" id="documentation" href="#documentation">
    <img src="https://zyramedia.github.io/ng2-facebook-sdk/link.svg" alt="link">
    Documentation
  </a>
  <div class="list-group">
    {%- for doc in docs -%}
    {%- if doc.name -%}
    <a class="list-group-item" href="{{ doc.URL }}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{doc.name}}</h5>
        <small>{{doc.docType}}</small>
      </div>
      <p class="mb-1">{{doc.shortdesc}}</p>
    </a>
    {%- endif -%}
    {%- endfor -%}
  </div>
</div>

{%- endblock -%}
