{% extends "doc.layout.html" %}

{% block content %}


{% for export in doc.moduleDoc.exports %}

<h2>{{export.name}}</h2>
{%- if export.heritage %}
<h4>{{export.heritage}}</h4>
{% endif -%}
<table class="table table-striped table-bordered rounded">
  <thead>
  <tr>
    <th>Param</th>
    <th>Type</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  {% for param in export.members %}
  <tr>
    <td>
      {{param.name}}
      {% if param.optional %}<em>(optional)</em>{% endif -%}
    </td>
    <td>
      <code>{{ param.returnType }}</code>
    </td>
    <td>
      {{ param.description }}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor -%}

{% endblock %}
